body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:960px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:60px;
  top:43px;
  width:225px;
  height:41px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u0_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:229px;
  height:45px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:60px;
  top:110px;
  width:900px;
  height:30px;
}
#u2_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:906px;
  height:36px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:905px;
  height:35px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u4_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:104px;
  height:34px;
}
#u5 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u6_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:104px;
  height:34px;
}
#u7 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u8_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:104px;
  height:34px;
}
#u9 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u10_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:104px;
  height:34px;
}
#u11 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u12_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:104px;
  height:34px;
}
#u13 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:500px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u14_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:104px;
  height:34px;
}
#u15 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:600px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u16_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:104px;
  height:34px;
}
#u17 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:700px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u18_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:104px;
  height:34px;
}
#u19 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:800px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u20_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:104px;
  height:34px;
}
#u21 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:60px;
  top:168px;
  width:605px;
  height:22px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:605px;
  height:22px;
}
#u23 {
  position:absolute;
  left:2px;
  top:3px;
  width:601px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:70px;
  top:202px;
  width:885px;
  height:673px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:20px;
}
#u25_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:151px;
  height:24px;
}
#u26 {
  position:absolute;
  left:2px;
  top:2px;
  width:143px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:147px;
  top:0px;
  width:147px;
  height:20px;
}
#u27_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:151px;
  height:24px;
}
#u28 {
  position:absolute;
  left:2px;
  top:2px;
  width:143px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:294px;
  top:0px;
  width:147px;
  height:20px;
}
#u29_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:151px;
  height:24px;
}
#u30 {
  position:absolute;
  left:2px;
  top:2px;
  width:143px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:441px;
  top:0px;
  width:147px;
  height:20px;
}
#u31_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:151px;
  height:24px;
}
#u32 {
  position:absolute;
  left:2px;
  top:2px;
  width:143px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:588px;
  top:0px;
  width:147px;
  height:20px;
}
#u33_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:151px;
  height:24px;
}
#u34 {
  position:absolute;
  left:2px;
  top:2px;
  width:143px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:735px;
  top:0px;
  width:145px;
  height:20px;
}
#u35_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:149px;
  height:24px;
}
#u36 {
  position:absolute;
  left:2px;
  top:2px;
  width:141px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:0px;
  top:20px;
  width:147px;
  height:20px;
  text-decoration:underline;
  color:#0000FF;
}
#u37_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:151px;
  height:24px;
}
#u38 {
  position:absolute;
  left:2px;
  top:2px;
  width:143px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:147px;
  top:20px;
  width:147px;
  height:20px;
}
#u39_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:151px;
  height:24px;
}
#u40 {
  position:absolute;
  left:2px;
  top:2px;
  width:143px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:294px;
  top:20px;
  width:147px;
  height:20px;
}
#u41_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:151px;
  height:24px;
}
#u42 {
  position:absolute;
  left:2px;
  top:2px;
  width:143px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:441px;
  top:20px;
  width:147px;
  height:20px;
}
#u43_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:151px;
  height:24px;
}
#u44 {
  position:absolute;
  left:2px;
  top:2px;
  width:143px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:588px;
  top:20px;
  width:147px;
  height:20px;
}
#u45_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:151px;
  height:24px;
}
#u46 {
  position:absolute;
  left:2px;
  top:2px;
  width:143px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:735px;
  top:20px;
  width:145px;
  height:20px;
}
#u47_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:149px;
  height:24px;
}
#u48 {
  position:absolute;
  left:2px;
  top:2px;
  width:141px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:0px;
  top:40px;
  width:147px;
  height:68px;
  text-decoration:underline;
  color:#0000FF;
}
#u49_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:151px;
  height:72px;
}
#u50 {
  position:absolute;
  left:2px;
  top:2px;
  width:143px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:147px;
  top:40px;
  width:147px;
  height:68px;
}
#u51_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:151px;
  height:72px;
}
#u52 {
  position:absolute;
  left:2px;
  top:2px;
  width:143px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:294px;
  top:40px;
  width:147px;
  height:68px;
}
#u53_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:151px;
  height:72px;
}
#u54 {
  position:absolute;
  left:2px;
  top:2px;
  width:143px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:441px;
  top:40px;
  width:147px;
  height:68px;
}
#u55_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:151px;
  height:72px;
}
#u56 {
  position:absolute;
  left:2px;
  top:2px;
  width:143px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:588px;
  top:40px;
  width:147px;
  height:68px;
}
#u57_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:151px;
  height:72px;
}
#u58 {
  position:absolute;
  left:2px;
  top:2px;
  width:143px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:735px;
  top:40px;
  width:145px;
  height:68px;
}
#u59_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:149px;
  height:72px;
}
#u60 {
  position:absolute;
  left:2px;
  top:2px;
  width:141px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:0px;
  top:108px;
  width:147px;
  height:52px;
  text-decoration:underline;
  color:#0000FF;
}
#u61_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:151px;
  height:56px;
}
#u62 {
  position:absolute;
  left:2px;
  top:2px;
  width:143px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:147px;
  top:108px;
  width:147px;
  height:52px;
}
#u63_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:151px;
  height:56px;
}
#u64 {
  position:absolute;
  left:2px;
  top:2px;
  width:143px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:294px;
  top:108px;
  width:147px;
  height:52px;
}
#u65_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:151px;
  height:56px;
}
#u66 {
  position:absolute;
  left:2px;
  top:2px;
  width:143px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:441px;
  top:108px;
  width:147px;
  height:52px;
}
#u67_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:151px;
  height:56px;
}
#u68 {
  position:absolute;
  left:2px;
  top:2px;
  width:143px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:588px;
  top:108px;
  width:147px;
  height:52px;
}
#u69_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:151px;
  height:56px;
}
#u70 {
  position:absolute;
  left:2px;
  top:2px;
  width:143px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:735px;
  top:108px;
  width:145px;
  height:52px;
}
#u71_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:149px;
  height:56px;
}
#u72 {
  position:absolute;
  left:2px;
  top:2px;
  width:141px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:0px;
  top:160px;
  width:147px;
  height:36px;
  text-decoration:underline;
  color:#0000FF;
}
#u73_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:151px;
  height:40px;
}
#u74 {
  position:absolute;
  left:2px;
  top:2px;
  width:143px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:147px;
  top:160px;
  width:147px;
  height:36px;
}
#u75_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:151px;
  height:40px;
}
#u76 {
  position:absolute;
  left:2px;
  top:2px;
  width:143px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:294px;
  top:160px;
  width:147px;
  height:36px;
}
#u77_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:151px;
  height:40px;
}
#u78 {
  position:absolute;
  left:2px;
  top:2px;
  width:143px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:441px;
  top:160px;
  width:147px;
  height:36px;
}
#u79_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:151px;
  height:40px;
}
#u80 {
  position:absolute;
  left:2px;
  top:2px;
  width:143px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:588px;
  top:160px;
  width:147px;
  height:36px;
}
#u81_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:151px;
  height:40px;
}
#u82 {
  position:absolute;
  left:2px;
  top:2px;
  width:143px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:735px;
  top:160px;
  width:145px;
  height:36px;
}
#u83_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:149px;
  height:40px;
}
#u84 {
  position:absolute;
  left:2px;
  top:2px;
  width:141px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:0px;
  top:196px;
  width:147px;
  height:52px;
  text-decoration:underline;
  color:#0000FF;
}
#u85_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:151px;
  height:56px;
}
#u86 {
  position:absolute;
  left:2px;
  top:2px;
  width:143px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:147px;
  top:196px;
  width:147px;
  height:52px;
}
#u87_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:151px;
  height:56px;
}
#u88 {
  position:absolute;
  left:2px;
  top:2px;
  width:143px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:294px;
  top:196px;
  width:147px;
  height:52px;
}
#u89_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:151px;
  height:56px;
}
#u90 {
  position:absolute;
  left:2px;
  top:2px;
  width:143px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:441px;
  top:196px;
  width:147px;
  height:52px;
}
#u91_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:151px;
  height:56px;
}
#u92 {
  position:absolute;
  left:2px;
  top:2px;
  width:143px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:588px;
  top:196px;
  width:147px;
  height:52px;
}
#u93_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:151px;
  height:56px;
}
#u94 {
  position:absolute;
  left:2px;
  top:2px;
  width:143px;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:735px;
  top:196px;
  width:145px;
  height:52px;
}
#u95_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:149px;
  height:56px;
}
#u96 {
  position:absolute;
  left:2px;
  top:2px;
  width:141px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:0px;
  top:248px;
  width:147px;
  height:116px;
  text-decoration:underline;
  color:#0000FF;
}
#u97_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:151px;
  height:120px;
}
#u98 {
  position:absolute;
  left:2px;
  top:2px;
  width:143px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:147px;
  top:248px;
  width:147px;
  height:116px;
}
#u99_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:151px;
  height:120px;
}
#u100 {
  position:absolute;
  left:2px;
  top:2px;
  width:143px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:294px;
  top:248px;
  width:147px;
  height:116px;
}
#u101_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:151px;
  height:120px;
}
#u102 {
  position:absolute;
  left:2px;
  top:2px;
  width:143px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:441px;
  top:248px;
  width:147px;
  height:116px;
}
#u103_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:151px;
  height:120px;
}
#u104 {
  position:absolute;
  left:2px;
  top:2px;
  width:143px;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:588px;
  top:248px;
  width:147px;
  height:116px;
}
#u105_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:151px;
  height:120px;
}
#u106 {
  position:absolute;
  left:2px;
  top:2px;
  width:143px;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:735px;
  top:248px;
  width:145px;
  height:116px;
}
#u107_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:149px;
  height:120px;
}
#u108 {
  position:absolute;
  left:2px;
  top:2px;
  width:141px;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:0px;
  top:364px;
  width:147px;
  height:36px;
  text-decoration:underline;
  color:#0000FF;
}
#u109_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:151px;
  height:40px;
}
#u110 {
  position:absolute;
  left:2px;
  top:2px;
  width:143px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:147px;
  top:364px;
  width:147px;
  height:36px;
}
#u111_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:151px;
  height:40px;
}
#u112 {
  position:absolute;
  left:2px;
  top:2px;
  width:143px;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:294px;
  top:364px;
  width:147px;
  height:36px;
}
#u113_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:151px;
  height:40px;
}
#u114 {
  position:absolute;
  left:2px;
  top:2px;
  width:143px;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:441px;
  top:364px;
  width:147px;
  height:36px;
}
#u115_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:151px;
  height:40px;
}
#u116 {
  position:absolute;
  left:2px;
  top:2px;
  width:143px;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:588px;
  top:364px;
  width:147px;
  height:36px;
}
#u117_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:151px;
  height:40px;
}
#u118 {
  position:absolute;
  left:2px;
  top:2px;
  width:143px;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:735px;
  top:364px;
  width:145px;
  height:36px;
}
#u119_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:149px;
  height:40px;
}
#u120 {
  position:absolute;
  left:2px;
  top:2px;
  width:141px;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:0px;
  top:400px;
  width:147px;
  height:116px;
  text-decoration:underline;
  color:#0000FF;
}
#u121_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:151px;
  height:120px;
}
#u122 {
  position:absolute;
  left:2px;
  top:2px;
  width:143px;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:147px;
  top:400px;
  width:147px;
  height:116px;
}
#u123_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:151px;
  height:120px;
}
#u124 {
  position:absolute;
  left:2px;
  top:2px;
  width:143px;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:294px;
  top:400px;
  width:147px;
  height:116px;
}
#u125_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:151px;
  height:120px;
}
#u126 {
  position:absolute;
  left:2px;
  top:2px;
  width:143px;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:441px;
  top:400px;
  width:147px;
  height:116px;
}
#u127_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:151px;
  height:120px;
}
#u128 {
  position:absolute;
  left:2px;
  top:2px;
  width:143px;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:588px;
  top:400px;
  width:147px;
  height:116px;
}
#u129_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:151px;
  height:120px;
}
#u130 {
  position:absolute;
  left:2px;
  top:2px;
  width:143px;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:735px;
  top:400px;
  width:145px;
  height:116px;
}
#u131_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:149px;
  height:120px;
}
#u132 {
  position:absolute;
  left:2px;
  top:2px;
  width:141px;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:0px;
  top:516px;
  width:147px;
  height:68px;
  text-decoration:underline;
  color:#0000FF;
}
#u133_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:151px;
  height:72px;
}
#u134 {
  position:absolute;
  left:2px;
  top:2px;
  width:143px;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:147px;
  top:516px;
  width:147px;
  height:68px;
}
#u135_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:151px;
  height:72px;
}
#u136 {
  position:absolute;
  left:2px;
  top:2px;
  width:143px;
  word-wrap:break-word;
}
#u137 {
  position:absolute;
  left:294px;
  top:516px;
  width:147px;
  height:68px;
}
#u137_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:151px;
  height:72px;
}
#u138 {
  position:absolute;
  left:2px;
  top:2px;
  width:143px;
  word-wrap:break-word;
}
#u139 {
  position:absolute;
  left:441px;
  top:516px;
  width:147px;
  height:68px;
}
#u139_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:151px;
  height:72px;
}
#u140 {
  position:absolute;
  left:2px;
  top:2px;
  width:143px;
  word-wrap:break-word;
}
#u141 {
  position:absolute;
  left:588px;
  top:516px;
  width:147px;
  height:68px;
}
#u141_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:151px;
  height:72px;
}
#u142 {
  position:absolute;
  left:2px;
  top:2px;
  width:143px;
  word-wrap:break-word;
}
#u143 {
  position:absolute;
  left:735px;
  top:516px;
  width:145px;
  height:68px;
}
#u143_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:149px;
  height:72px;
}
#u144 {
  position:absolute;
  left:2px;
  top:2px;
  width:141px;
  word-wrap:break-word;
}
#u145 {
  position:absolute;
  left:0px;
  top:584px;
  width:147px;
  height:84px;
  text-decoration:underline;
  color:#0000FF;
}
#u145_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:151px;
  height:88px;
}
#u146 {
  position:absolute;
  left:2px;
  top:2px;
  width:143px;
  word-wrap:break-word;
}
#u147 {
  position:absolute;
  left:147px;
  top:584px;
  width:147px;
  height:84px;
}
#u147_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:151px;
  height:88px;
}
#u148 {
  position:absolute;
  left:2px;
  top:2px;
  width:143px;
  word-wrap:break-word;
}
#u149 {
  position:absolute;
  left:294px;
  top:584px;
  width:147px;
  height:84px;
}
#u149_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:151px;
  height:88px;
}
#u150 {
  position:absolute;
  left:2px;
  top:2px;
  width:143px;
  word-wrap:break-word;
}
#u151 {
  position:absolute;
  left:441px;
  top:584px;
  width:147px;
  height:84px;
}
#u151_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:151px;
  height:88px;
}
#u152 {
  position:absolute;
  left:2px;
  top:2px;
  width:143px;
  word-wrap:break-word;
}
#u153 {
  position:absolute;
  left:588px;
  top:584px;
  width:147px;
  height:84px;
}
#u153_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:151px;
  height:88px;
}
#u154 {
  position:absolute;
  left:2px;
  top:2px;
  width:143px;
  word-wrap:break-word;
}
#u155 {
  position:absolute;
  left:735px;
  top:584px;
  width:145px;
  height:84px;
}
#u155_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:149px;
  height:88px;
}
#u156 {
  position:absolute;
  left:2px;
  top:2px;
  width:141px;
  word-wrap:break-word;
}
#u157 {
  position:absolute;
  left:390px;
  top:894px;
  width:40px;
  height:16px;
  color:#0000FF;
}
#u157_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:44px;
  height:20px;
}
#u158 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u159 {
  position:absolute;
  left:510px;
  top:894px;
  width:40px;
  height:16px;
  color:#0000FF;
}
#u159_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:44px;
  height:20px;
}
#u160 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u161 {
  position:absolute;
  left:624px;
  top:60px;
  width:163px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u161_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:167px;
  height:28px;
}
#u162 {
  position:absolute;
  left:2px;
  top:4px;
  width:159px;
  visibility:hidden;
  word-wrap:break-word;
}
#u163 {
  position:absolute;
  left:880px;
  top:60px;
  width:80px;
  height:24px;
}
#u163_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u163_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:86px;
  height:30px;
}
#u164 {
  position:absolute;
  left:787px;
  top:60px;
  width:73px;
  height:24px;
}
#u164_input {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u164_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:79px;
  height:30px;
}
#u164_input:disabled {
  color:grayText;
}
