body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:960px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:60px;
  top:43px;
  width:225px;
  height:41px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u0_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:229px;
  height:45px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:60px;
  top:110px;
  width:900px;
  height:30px;
}
#u2_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:906px;
  height:36px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:905px;
  height:35px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u4_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:104px;
  height:34px;
}
#u5 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u6_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:104px;
  height:34px;
}
#u7 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u8_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:104px;
  height:34px;
}
#u9 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u10_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:104px;
  height:34px;
}
#u11 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u12_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:104px;
  height:34px;
}
#u13 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:500px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u14_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:104px;
  height:34px;
}
#u15 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:600px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u16_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:104px;
  height:34px;
}
#u17 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:700px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u18_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:104px;
  height:34px;
}
#u19 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:800px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u20_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:104px;
  height:34px;
}
#u21 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:60px;
  top:200px;
  width:900px;
  height:700px;
}
#u22_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:904px;
  height:704px;
}
#u23 {
  position:absolute;
  left:2px;
  top:342px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:82px;
  top:261px;
  width:100px;
  height:36px;
  font-size:16px;
}
#u24_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:104px;
  height:40px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:82px;
  top:214px;
  width:218px;
  height:26px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-decoration:underline;
  color:#FF9966;
}
#u26_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:222px;
  height:30px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:60px;
  top:170px;
  width:43px;
  height:16px;
  text-decoration:underline;
  color:#0000FF;
}
#u28_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:47px;
  height:20px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:860px;
  top:170px;
  width:100px;
  height:16px;
  text-decoration:underline;
  color:#0000FF;
}
#u30_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:104px;
  height:20px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:299px;
  top:302px;
  width:381px;
  height:478px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:478px;
}
#u33 {
  position:absolute;
  left:2px;
  top:231px;
  width:377px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:230px;
  top:214px;
  width:470px;
  height:16px;
}
#u34_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:474px;
  height:20px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:624px;
  top:60px;
  width:163px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u36_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:167px;
  height:28px;
}
#u37 {
  position:absolute;
  left:2px;
  top:4px;
  width:159px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:880px;
  top:60px;
  width:80px;
  height:24px;
}
#u38_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u38_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:86px;
  height:30px;
}
#u39 {
  position:absolute;
  left:787px;
  top:60px;
  width:73px;
  height:24px;
}
#u39_input {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u39_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:79px;
  height:30px;
}
#u39_input:disabled {
  color:grayText;
}
